# 빌드 디렉토리
cmake-build-debug/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*debug

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake 관련 임시 파일
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE 설정 파일
.idea/
*.iml

# OS 및 편집기 임시 파일
*~
*.swp
.DS_Store
Thumbs.db


# 불필요한 xml 파일
*.xml